<div class="wrapper">
  <button class="left" [class]="btnClass" (click)="increase()">+</button>
  <input type="text" [class]="inputClass" [value]="counterValue" (change)="onInputChange()"> 
  <button class="right" [class]="btnClass" (click)="decrease()">-</button>
</div>