<form [formGroup]="orderForm" >
  <div class="modal-header custom-modal-header">
    <h5 class="modal-title custom-modal-title" id="newTeamModalLabel">{{pageTitle}}</h5>
    <button type="button" class="close modal-close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body custom-height">
    <div class="">                    
        <div class="row mb-3">
            <div class="col-md-4 title-font">Order Id *</div>
            <div class="col-md-8">
                <input type="text" [readonly]="mode == 'edit'" class="form-control" style="font-size: 13px;" formControlName="order_id" [(ngModel)]="order.order_id" name="order_id" placeholder="Order id" maxlength="60" autocomplete="off">
                <div class="validation-error" *ngIf="orderForm.controls['order_id'].touched && orderForm.controls['order_id'].invalid">
                    <span *ngIf="orderForm.controls['order_id'].errors.required">Required Field</span>
                </div>
            </div>    
        </div>

      <div class="row mb-3">
          <div class="col-md-4 title-font">Service number *</div>
          <div class="col-md-8">
              <input type="text" class="form-control" style="font-size: 13px;" formControlName="service_number" [(ngModel)]="order.service_number" name="service_number" placeholder="Service number" maxlength="60" autocomplete="off">
              <div class="validation-error" *ngIf="orderForm.controls['service_number'].touched && orderForm.controls['service_number'].invalid">
                  <span *ngIf="orderForm.controls['service_number'].errors.required">Required Field</span>
              </div>
          </div>    
      </div>

      <div class="row mb-3">
        <div class="col-md-4 title-font">Segment group</div>
        <div class="col-md-8">
            <input type="text" class="form-control" style="font-size: 13px;" formControlName="segment_group" [(ngModel)]="order.segment_group" name="segment_group" placeholder="Segment group" maxlength="60" autocomplete="off">
            <div class="validation-error" *ngIf="orderForm.controls['segment_group'].touched && orderForm.controls['segment_group'].invalid">
                <span *ngIf="orderForm.controls['segment_group'].errors.required">Required Field</span>
            </div>
        </div>    
    </div>

    <div class="row mb-3">
      <div class="col-md-4 title-font">Product name</div>
      <div class="col-md-8">
          <input type="text" class="form-control" style="font-size: 13px;" formControlName="product_name" [(ngModel)]="order.product_name" name="product_name" placeholder="Product name" maxlength="60" autocomplete="off">
          <div class="validation-error" *ngIf="orderForm.controls['product_name'].touched && orderForm.controls['product_name'].invalid">
              <span *ngIf="orderForm.controls['product_name'].errors.required">Required Field</span>
          </div>
      </div>    
  </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <span class="title-font">Remarks *</span>
        </div>
        <div class="col-md-8">
            <textarea formControlName="remark" [(ngModel)]="order.remark" name="remark" rows="3" class="form-control-textarea text-area-full" style="font-size: 13px;" placeholder="Remark"></textarea>
            <div class="validation-error" style="font-size: 13px;" *ngIf="orderForm.controls['remark'].touched && orderForm.controls['remark'].invalid">
                <span *ngIf="orderForm.controls['remark'].errors.required">Required Field</span>
            </div>
        </div>
    </div> 

    <div class="row mb-3">
        <div class="col-md-4">
            <span class="title-font">Order status *</span>
        </div>
        <div class="col-md-8">
            <label for="radio1">Processing </label>
                <input id=radio1 formControlName="status" [(ngModel)]="order.status" 
                value="processing"
                name="status" rows="3" class="" 
                
             type="radio" />
             <label for="radio2">Completed </label>
                <input id=radio2 formControlName="status" [(ngModel)]="order.status" 
                value="Completed"
                name="status" rows="3" class=""
                  
             type="radio" />
           
            <div class="validation-error" style="font-size: 13px;" *ngIf="orderForm.controls['status'].touched && orderForm.controls['status'].invalid">
                <span *ngIf="orderForm.controls['status'].errors.required">Required Field</span>
            </div>
        </div>
    </div> 

    <div class="row mb-3">
        <div class="col-md-4">
            <span class="title-font">State *</span>
        </div>
        <div class="col-md-8">
            <select formControlName="state" [(ngModel)]="order.state" name="state" rows="3" class="form-control" >
                <option>Select state</option>
                <option *ngFor="let itm of states" [value]="itm">{{itm}}</option>    
            </select>
            
            <div class="validation-error" style="font-size: 13px;" *ngIf="orderForm.controls['state'].touched && orderForm.controls['state'].invalid">
                <span *ngIf="orderForm.controls['state'].errors.required">Required Field</span>
            </div>
        </div>
    </div> 
     
    
    </div>
  </div>
  <div class="modal-footer p-0 custom-modal-foter">
        <button *ngIf="mode == 'edit'" (click)="onSubmit()" class="btn custom-btn">Save</button>
        <button *ngIf="mode == 'add'" (click)="onSubmit()" class="btn custom-btn">Add</button>
        <button *ngIf="mode == 'edit'" (click)="onDelete()" class="btn custom-btn">Delete</button>
  </div>
</form>
      