.text-area-full{
    width: 100%;
}
.validation-error{
    height: 25px;
    text-align: right;
    color: red;
}
.custom-height{
    min-height: 250px;
    height: auto;
}
.custom-modal-foter{
    /* background-color: #fe8b32; */
    background: none;
}
.custom-modal-header{
    background-color: #fe8b32;
    color: #ffffff;
    font-size: 14px;

}
.custom-btn{
    width: 100px;
    color: black;
   
}
.modal-close{
    margin-top: -21px;
}

.custom-modal-title{
    color: rgb(250, 250, 250);
    font-size: 17px;
}
@media screen and (max-width: 767px){

    .c-modal-content{

        width: 100%!important;
        top: 0px!important;
        left: 0px!important;
    }
    .c-modal-header{
       width: 100%!important;
    }
    .c-modal-footer{
        width: 100%!important;
    }

}