/* You can add global styles to this file, and also import other style files */
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc{
    background-image: none !important;
}

div.dataTables_length select {
    border: solid #ecf0f6 1px !important;
    /* border-radius: 0px; */
}

div.dataTables_filter input {
    border: solid #d2d6de 1px !important;
} 

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #3d8dbc!important;
    color: #fff !important;
}


.content-wrapper, .right-side {
    background-color: #c8e9fd;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #3d8dbc;
    font-weight: 600;

}
table.dataTable tfoot th, table.dataTable tfoot td {
    border-bottom: 1px solid #3d8dbc;
    border-top: 1px solid #3d8dbc;
    font-weight: 600;
}

.callout.callout-warning{
    background-color: #76BBC0 !important;
    color: white !important;
}

.slim-loading-bar-progress {
    position: fixed;
    top: 0;
    z-index: 9999;
}

div .simple-notification.success{
    border-radius: 0%;
    top: -42px;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media (min-width: 768px){
    .dl-horizontal dt {
        text-align: left;
    }
}
.right-block{
    background-color: #A1A534
}
.content-wrapper{
    background-color: #677987;
}
.fa-dashboard{
    color: white;
}
.fa-plus{
    color: white;
}
.content-header{
    color: white;
    padding-bottom: 7px;
    padding-top: 7px;
}
.headerimg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.content-header > .breadcrumb{
    color: white;
    padding: 0px 20px 0px 0px;
}
.modal-header{
    width: 520px;
}
.modal-body{
    width: 520px;
    height: 250px;
}

#modalforgot .modal-body{
    width: 520px;
    height: 150px;
}

#modaljob .modal-body {
    height: auto;
}


.modal-footer{
    width: 520px;
    height: 50px;
    background-color: #2C4C5F;
}

#modaljob .modal-footer{
    width: 520px;
    height: 50px;
    background-color: #ffb034;
}

.modal-content{
    width: 520px;
    position: relative;
    top: 150px;
    left: 50px;
}
.modal-title{
    color: rgb(77, 77, 77);
   padding-left: 60spx;
}

.bg-maroon{
    display: inline-block;
    padding: 6px 160px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;  
    position: absolute;
    bottom: 2%;
    left: 16%;
}
.bg-maroon {
    background-color:#2C4C5F !important;
    
}

#modaljob .bg-maroon {
    background-color:#ffb034 !important;
}

#modaljob .bg-maroon:hover {
    background-color:#ffb034 !important;
    box-shadow: none;
}

.btn-app{
    width: 150px;
    height: 80px;
    color: #3d8dbc;
    border: 0px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    position: relative;
    top: 70px;
    left: 0px;
    padding-bottom: 10px;
}


.panel-info>.panel-heading {
    background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
    border-color: rgb(54, 92, 114);
    background-color: white;
}
.panel-info {
    border-color: white;
}
.panel-title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    color: rgb(67, 114, 141);
    font-weight: 600;
}

.col-sm-2{
    font-weight: 400;
}

.btn-info {
    background-image: linear-gradient(to bottom,#3C8DBC 0, #3C8DBC 100%);
}
/* .btn-primary {
    background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
    border-color: rgb(121, 121, 121);
    color: #336699;
    text-shadow: 0 -1px 0 white;
  
} */
.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.modal {
    background: rgba(0, 0, 0, 0.459);
}
.box {
    border-top: 0px;
}

.box.box-solid.box-info > .box-header {
    color: #fff;
    background: #3C8DBC;
    background-color: #3C8DBC;
}


.fa-plus{
    color:white;
}
.content-header{
    color:white;
}


.spinner {
    position: absolute;
    z-index: 99;
    width: 40px;
    left: 43%;
    height: 40px;
    background-color: #1570b6;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  .loading{
    background-color: #d35400;
  }
  .dl-horizontal dt{
    border-top: 1px solid rgba(221, 219, 219, 0.685);
    padding-left: 10px;
    font-weight: 200;
}
.dl-horizontal dd{
    border-top: 1px solid rgba(221, 219, 219, 0.685);
    padding-left: 10px;
    width: 55%;
    font-weight: 400;
}
.icon-small i{
    float: left;
    height: 38px;  
    width: 38px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
  
  }
  .icon-small + p{
    margin-top: 15px;
  
  }
  .icon-small h4,
  .icon-small h6,
  .icon-small h5,{
    text-align: left;
    margin-bottom: 0px;
  }
  .lead{
      font-weight: 500;
      margin-bottom: 10px;
  }
.view-icon{
    height: 40px;
    width: 30px
}
.side-icon{
    height: 18px;
    width: 18px
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 2px;
}
.vl {
    float: left;
    width: 250px;
    border-right: 1px solid rgb(50, 68, 77);
    height:100%;
    border-left: 0px;
    position: relative;
    left: 0;
}
.edit-icon{
    float: left;
    padding-left: 13px;
    position: relative;
    padding-bottom: 5px;
    padding-top: inherit;
}
.productImg{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.fa-times{
    color: rgb(50, 68, 77);

}
.editable{
    min-width: 100px;
    display: block;
    height: 20px;
}

.editable:hover::after{
    content: '\f044';
    padding-left: 20px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.sidebar{
    background-color: rgb(53, 90, 112);
}
.sidebar li a{
    color: white !important;
    font-weight: 300 !important;
}
.sidebar li a:hover {
    color: white !important;
    background-color: rgb(49, 68, 78) !important;
}

.sidebar-menu .active a{
    color: white !important;
    background-color: rgb(49, 68, 78) !important;
}

.whitefont{
    color:white;
}

.bg-customer{
    color: white !important;
    background-color: #73BBC1 !important;
    border-radius: 3px 3px 0 0;
}
.bg-order{
    color: white !important;
    background-color: #6A9EB5 !important;
    border-radius: 3px 3px 0 0;
}
.bg-agent{
    color: white !important;
    background-color: #A9C19D !important;
    border-radius: 3px 3px 0 0;
}
.bg-package{
    color: white !important;
    background-color: #9D92A7 !important;
    border-radius: 3px 3px 0 0;
}
.bg-quotation{
    color: white !important;
    background-color: #F4C683 !important;
    border-radius: 3px 3px 0 0;
}
.bg-commission{
    color: white !important;
    background-color: #C3BFB2 !important;
    border-radius: 3px 3px 0 0;
}
.bg-product{
    color: white !important;
    background-color: #BA8888 !important;
    border-radius: 3px 3px 0 0;
}
.bg-transaction{
    color: white !important;
    background-color: #BA8888 !important;
    border-radius: 3px 3px 0 0;
}
.bg-announcement{
    color: white !important;
    background-color: #9D92A6 !important;
    border-radius: 3px 3px 0 0;
}

.row.hr{
    border-top: solid #d4d4d4 1px;
    padding-top: 20px;
}

table{
    font-size: 0.80em;
}

ngx-treeview .treeview-container ngx-treeview-item .treeview-item label.form-check-label {
    font-size: 0.9em;
    text-transform: capitalize;
    font-weight: normal;
}

ngx-treeview .treeview-container ngx-treeview-item .treeview-item .fa{
    margin-right: 10px;
}

div[_ngcontent-c11]{
    border-left: solid #eaf7ff 1px;
}