<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="home-title">
        Order Management System 
      </h2>
    </div>
    <div class="col-lg-12 scrolable-table-container">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered f-13">
        <thead class="custome-thead">
          <tr>
              <th>Order id</th>
              <th>Service number</th>
              <th>Segment group</th>
              <th>Product name</th>
              <th>Order Status</th>  
          </tr>  
        </thead>
        <tbody>
          <tr *ngFor="let itm of orders">
            <td><a (click)="viewOrder(itm)">{{itm?.order_id}}</a></td>
            <td>{{itm?.service_number}}</td>
            <td>{{itm?.segment_group}}</td>
            <td>{{itm?.product_name}}</td>
            <td>{{itm?.status}}</td>
           
          </tr>
        </tbody>
      </table>
      
    </div>
    <div class="col col-lg-12">
        <button  class="btn custom-btn pull-right btn-cu-orange" (click)="addOrder()">Add New Order</button>
    </div>
  </div>
</div>