.home-title{
    padding: 10px;
    background-color: #fe8b32;
    color: #fff;
    margin-bottom: 31px;
}
.f-13{
    font-size: 13px;
}
.custome-thead{
    background-color: #ffca8d;
}
.btn-cu-orange{
    margin-top: 10px;
    background-color: #fe8b32;
    color: #fff;
}

.scrolable-table-container{
    min-width: 300px;
    overflow-x: scroll;
}